body {
  font-family: "Segoe UI", sans-serif;
  background: #f2f2f7;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 0;
}

.container {
  display: flex;
  gap: 30px;
  max-width: 900px;
  width: 100%;
}

/* ---------------- CALCULADORA ---------------- */
.calculadora {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.display {
  background: #1e1e1e;
  color: #00ff91;
  font-size: 32px;
  padding: 15px;
  border-radius: 10px;
  text-align: right;
  overflow-x: auto;
}

.notificacion {
  margin-top: 5px;
  min-height: 20px;
  font-size: 14px;
  color: #d80000;
  text-align: center;
}

.inputs {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.inputs input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.teclado {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.teclado button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #e8e8eb;
  cursor: pointer;
  transition: 0.2s;
}

.teclado button:hover {
  background: #d2d2d6;
}

.op {
  background: #ffcc66 !important;
}

.op:hover {
  background: #e6b85c !important;
}

.igual {
  grid-column: span 2;
  background: #4caf50 !important;
  color: white;
  font-weight: bold;
}

.igual:hover {
  background: #449c48 !important;
}

/* ---------------- HISTORIAL ---------------- */
.historial {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  max-height: 545px;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.historial h2 {
  text-align: center;
}

.historial ul {
  padding-left: 20px;
}

.historial li {
  margin-bottom: 10px;
  font-size: 14px;
  background: #f7f7fb;
  padding: 8px;
  border-radius: 8px;
  border-left: 3px solid #4caf50;
}